<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Bubble & Glow{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
<header class="header">
    <nav class="nav-container">
        <a href="{{ path('app_accueil')}}" class="logo">
            <img src="{{ asset('images/header-logo.svg') }}" alt="Instagram">
        </a>

        <ul class="nav-menu" id="navMenu">
            <li><a href="{{ path('app_accueil') }}" class="active">Accueil</a></li>
            <li><a href="{{ path('app_service') }}">Services</a></li>
            <li><a href="{{ path('app_blog') }}">Blog</a></li>
            {# Highlighted CTA Button #}
            <li>
                <a href="{{ path('app_formulaire') }}" class="btn-header-cta">Réserver</a>
            </li>
        </ul>
        <div class="menu-toggle" id="menuToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>
<main>
    {% block body %} {% endblock %}
</main>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>Contact</h3>
            <p>mail : bubble&glowcontact@gmail.fr</p>
            <p>téléphone : 07-23-45-67-89</p>

            <h4>Réseaux sociaux</h4>
            <div class="socials">
                <a href="#" class="social">
                    <img src="{{ asset('images/instagram.svg') }}" alt="Instagram">
                    bubble&glow
                </a>
                <a href="#" class="social">
                    <img src="{{ asset('images/facebook.svg') }}" alt="Facebook">
                    bubble&glow
                </a>
            </div>
            <a href="#" class="btn footer-btn">Contactez-moi</a>
        </div>

        <div class="footer-column">
            <h3>Prestations</h3>
            <ul>
                <li>Épilation</li>
                <li>Soins visage & corps</li>
                <li>Maquillage</li>
                <li>Manucure & pédicure</li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>À propos</h3>
            <ul>
                <li><a href="#">Qui je suis</a></li>
                <li><a href="#">Prendre rendez-vous</a></li>
                <li><a href="#">Avis clients</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">CGE</a></li>
            </ul>
        </div>

    </div>
    <div class="footer-logo">
        <img src="{{ asset('images/logo-footer.svg') }}" alt="Footer-logo">
    </div>
    </div>

</footer>
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>

